body {
    background-color: rgb(255, 255, 255);
}
h2 {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ahoj {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(109, 108, 111);
    box-shadow: 10px 10px 5px rgb(94, 90, 90);
    border-radius: 15px;
    margin: 20px auto;
    padding: 5px 30px;
    font-size: large;
}

.container {
    background-color: rgb(109, 108, 111);
    box-shadow: 10px 10px 5px rgb(57, 55, 55);
    max-width: 800px;
    max-height: 2500px;
    border-radius: 15px;
    margin: 100px auto;
    padding: 5px 30px;
    color: rgb(0, 0, 0);
    font-size: larger;
}
#navbar a {
    color: white;
    text-decoration: none;
    align-items: center;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#navbar ul li a {
    padding: 10px;
    margin: 0 4px;
}

#navbar ul li a:hover {
    background-color: #000000;
    border-radius: 5px;
}